.container {
  width: 100%;
  height: 100%;
}

.container > * {
  display: flex;
  flex-direction: row;
}

mat-card {
  flex: 0 1 850px;
  margin: auto;
}

.user-items {
  display: flex;
  flex-direction: column;
}

.user-items > * {
  margin-bottom: 20px;
}
