<form [formGroup]="form">
  <div mat-dialog-title class="flex center">
    <mat-icon svgIcon="alert"></mat-icon>
    <span> {{ "alert_change_password" | translate }} </span>
  </div>
  <div mat-dialog-content>
    <div class="item-wrapper two pink">
      <div>
        <span>{{ "old_password" | translate }}</span>
      </div>
      <div>
        <input
          type="text"
          formControlName="oldP"
          [placeholder]="'import_password' | translate"
          required
        />
      </div>
      <validation-messages [control]="form.controls.oldP"></validation-messages>
    </div>
    <div class="item-wrapper two pink">
      <div>
        <span>{{ "new_password" | translate }}</span>
      </div>
      <div>
        <input
          type="password"
          formControlName="newP"
          [placeholder]="'import_password' | translate"
        />
      </div>
      <validation-messages [control]="form.controls.newP"></validation-messages>
    </div>
    <div class="item-wrapper two pink">
      <div>
        <span>{{ "repeat_password" | translate }}</span>
      </div>
      <div>
        <input
          type="password"
          formControlName="repeatP"
          [placeholder]="'import_password' | translate"
        />
      </div>
      <validation-messages [control]="form.controls.repeatP"></validation-messages>
    </div>
  </div>
  <div mat-dialog-actions class="flex center">
    <button (click)="onNoClick()" class="button pb radius-5" style="margin-right:10px;">
      {{ "cancel" | translate }}
    </button>
    <button
      (click)="onEnter()"
      [disabled]="!form.valid"
      [ngClass]="{ disable: !form.valid }"
      class="button pb pink radius-5"
    >
      {{ "enter" | translate }}
    </button>
  </div>
</form>
