/* base-icons */
.base-icons {
  display: flex;
}

.base-icons > * {
  font-size: 1rem;
}

.base-icons > mat-icon.mat-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.base-icons > span {
  line-height: 30px;
}

.base-icons:hover {
  color: #1dd3af;
}

/* small-icons */
.small-icons {
  display: flex;
}

.small-icons > * {
  font-size: 1rem;
  line-height: 30px;
}

.small-icons:hover,
.small-icons.active {
  background-color: #ffaa00;
}
